{% extends "layout.html" %}

{% block content %}
  <h3>{{page.title}}<small> <a href="/wiki/{{ page.title }}">{{page.title}}</a>)</small></h3>
  <h4>by <a href="{{user.name}}">{{user.name}}</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div>{{user.name}}</div>
  <div class="page-body">{{page.content}}</div>
  <hr/>
  <a href="/wiki/{{page.urlTitle}}" class="btn btn-primary">edit this page</a>
  <a href="/wiki/{{page.urlTitle}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
